*.cache
*.dll
*.tmp
*.tmp_proj

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.userprefs
*.resources
ipch/
.vs/
Bin/
#OS junk files
[Tt]humbs.db
*.[Dd][Ss]_[Ss]tore
*.dll*.dll*.dll*.dll
Fareportal.AutomationFramework.RestClient/bin/
Fareportal.AutomationFramework.RestClient/obj/
Fareportal.TestProject.AutomationTesting.API/bin/
Fareportal.TestProject.AutomationTesting.API/obj/
Fareportal.TestProject.AutomationTesting.Common/bin/
Fareportal.TestProject.AutomationTesting.Common/obj/
packages/
logs/